body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px;
    font-size: 16px;
}

.dropbtn {
    background-color: bisque;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.drop a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop a:hover {
    background-color: #ddd;
}

.dropdown:hover .drop {
    display: block;
}