html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    width: 50%;
    border: 1px solid black;
    vertical-align: middle;
    padding: 20px;
    box-sizing: border-box;
}

.box1 {
    background-color: #cdd187;
}

.box2 {
    background-color: #f1c3b6;
}